Flask==3.0.3
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-Babel==4.0.0
email-validator==2.1.0.post1
pyotp==2.9.0
qrcode==7.4.2
Pillow==10.4.0
python-dotenv==1.0.1
